body {
   display: block; 
}
/* TOP SECTION Colors and Background */
.lightBlue {
    background-color: hsl(193, 100%, 96%);
    background-image: url("../images/bg-hero-desktop.svg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* BOTTOM SECTION */
.darkBlue{
    background-color: hsl(192, 100%, 9%);
    color: white;
}
/* Functional image sizing to compare */
.image_sizing {
    width: 200px;
    height: 170px;
    /* border: 2px black solid; */
}
/* Pill Shaped buttons */
button {
    background-color: hsl(322, 100%, 66%);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
#theWhiteBtn {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
/* Spacing and borders for main Section of text/information */
main {
    margin-left: 5%;
    margin-right: 5%;
    display: block;
}
/* Shadow boxes and border around main content on page */
.greyBorder {
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px lightgrey;
    margin: 20px 0px 20px 0px;
}
.desktopSizing{
    width: 300px;
    height: 270px;
}
/* Floats and Fixes */
.rightJustify {
    float: right;
    margin: 2%;
}
.leftJustify{
    float: left;
    margin: 2%;

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* shrinking Down Favicons */
.faviconSize {
    width: 20px;
    height: 20px;
}
.topMargin {
    margin: 100px 0px 20px 0px;
}
.bottomMargin {
    margin: 20px 0px 100px 0px;
}
.centerThis {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: block;
  text-align: center;
}

/* FOOTER SECTION */
.column {
    float: left;
    width: 33.33%;
}
  
  /* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}