/* header {
    background-color: hsl(193, 100%, 96%);
} */
main {
    background-color: white;
}
footer {
    margin-right: 15%;
    margin-left: 15%;
}
.mainSpacing{
    margin-right: 10%;
    margin-left: 10%;
    /* background-color: white; */
 }
.centerThis{
    text-align: center;
}

.lightBlue {
    background-color: hsl(193, 100%, 96%);
}
.container {
    margin: 8%;
}

.darkBlue{
    background-color: hsl(192, 100%, 9%);
    color: white;
}
img {
    width: 200px;
    height: 170px;
    border: 2px black solid;
}
.greyBorder {
    border: 2px hsl(208, 11%, 90%) solid;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    box-shadow: blur;
}
.desktopSizing{
    width: 300px;
    height: 270px;
}
.logoSizing{
    width: 200px;
    height: 80px;
}
.rightJustify {
    float: right;
}
.leftJustify {
    float: left;
}
.faviconSize {
    width: 20px;
    height: 20px;
    /* float: left; */
    padding: 10px;
}
.topMargin {
    margin: 80px 0px 20px 0px;
}
.bottomMargin {
    margin: 20px 0px 80px 0px;
}
button {
    background-color: hsl(322, 100%, 66%);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    }
